body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

img {
  width: 250px;
  height: 100px;
}

.card {
  box-shadow: 0 4px 4px 0 black;
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.center {
  margin: auto;
  width: 50%;
}
